@font-face {
	font-family:'Raleway';
	font-style:normal;
	font-weight:600;
	src:local('Raleway SemiBold'), local('Raleway-SemiBold'), url("../fonts/raleway/Raleway-SemiBold.woff2") format('woff2');
}
@font-face {
	font-family:'Raleway';
	font-style:normal;
	font-weight:700;
	src:local('Raleway Bold'), local('Raleway-Bold'), url("../fonts/raleway/Raleway-Bold.woff2") format('woff2');
}
@font-face {
	font-family:'Raleway';
	font-style:normal;
	font-weight:900;
	src:local('Raleway Black'), local('Raleway-Black'), url("../fonts/raleway/Raleway-Black.woff2") format('woff2');
}
@font-face {
	font-family:"Roboto";
	font-style:normal;
	font-weight:400;
	src:local("Roboto"), url("../fonts/roboto/Roboto-Regular.woff2") format("woff2");
}
@font-face {
	font-family:"Roboto";
	font-style:normal;
	font-weight:700;
	src:local("Roboto Bold"), url("../fonts/roboto/Roboto-Bold.woff2") format("woff2");
}

/* heebo-regular - latin */
@font-face {
  font-family: 'Heebo';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/heebo/heebo-v3-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Heebo'), local('Heebo-Regular'),
       url('../fonts/heebo/heebo-v3-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/heebo/heebo-v3-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/heebo/heebo-v3-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/heebo/heebo-v3-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/heebo/heebo-v3-latin-regular.svg#Heebo') format('svg'); /* Legacy iOS */
}
/* heebo-700 - latin */
@font-face {
  font-family: 'Heebo';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/heebo/heebo-v3-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Heebo Bold'), local('Heebo-Bold'),
       url('../fonts/heebo/heebo-v3-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/heebo/heebo-v3-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/heebo/heebo-v3-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/heebo/heebo-v3-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/heebo/heebo-v3-latin-700.svg#Heebo') format('svg'); /* Legacy iOS */
}
/* heebo-900 - latin */
@font-face {
  font-family: 'Heebo';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/heebo/heebo-v3-latin-900.eot'); /* IE9 Compat Modes */
  src: local('Heebo Black'), local('Heebo-Black'),
       url('../fonts/heebo/heebo-v3-latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/heebo/heebo-v3-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/heebo/heebo-v3-latin-900.woff') format('woff'), /* Modern Browsers */
       url('../fonts/heebo/heebo-v3-latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/heebo/heebo-v3-latin-900.svg#Heebo') format('svg'); /* Legacy iOS */
}

/* playfair-display-regular - latin */
@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/playfair-display/playfair-display-v13-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Playfair Display Regular'), local('PlayfairDisplay-Regular'),
       url('../fonts/playfair-display/playfair-display-v13-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/playfair-display/playfair-display-v13-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/playfair-display/playfair-display-v13-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/playfair-display/playfair-display-v13-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/playfair-display/playfair-display-v13-latin-regular.svg#PlayfairDisplay') format('svg'); /* Legacy iOS */
}
/* playfair-display-700 - latin */
@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/playfair-display/playfair-display-v13-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Playfair Display Bold'), local('PlayfairDisplay-Bold'),
       url('../fonts/playfair-display/playfair-display-v13-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/playfair-display/playfair-display-v13-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/playfair-display/playfair-display-v13-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/playfair-display/playfair-display-v13-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/playfair-display/playfair-display-v13-latin-700.svg#PlayfairDisplay') format('svg'); /* Legacy iOS */
}
/* playfair-display-900 - latin */
@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/playfair-display/playfair-display-v13-latin-900.eot'); /* IE9 Compat Modes */
  src: local('Playfair Display Black'), local('PlayfairDisplay-Black'),
       url('../fonts/playfair-display/playfair-display-v13-latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/playfair-display/playfair-display-v13-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/playfair-display/playfair-display-v13-latin-900.woff') format('woff'), /* Modern Browsers */
       url('../fonts/playfair-display/playfair-display-v13-latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/playfair-display/playfair-display-v13-latin-900.svg#PlayfairDisplay') format('svg'); /* Legacy iOS */
}
